*{
  margin: 0;padding: 0;
}
.body{
  width: 100vw;
  height: 100vh;
  background-color: #F07D20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body>h1{
  color: white
}